@page "/"


<section class="login-page">

    <form class="loginform" action="/Login/Login" method="post">

        <input type="email" name="username" placeholder="Email" required value="daliraki19@gmail.com" />
        <input type="password" name="password" placeholder="Password" required value="JEyO96Rls5F7dzEM" />



        <button type="submit">Login</button>


    </form>

</section>