<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link  rel="stylesheet" href="Style/Login.css"/>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorApp1.styles.css" />
    <link rel="icon" type="image/png" href="icon.png" />
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-DyZvFQfUj7eD6d+0htqil+/+W5g== crossorigin="anonymous" />
    <link rel="stylesheet" href="../Style/main.css"/>

    <HeadOutlet />
</head>

<body>
    <Routes />

    <script src="_framework/blazor.web.js"></script>
    <script src="https://kit.fontawesome.com/dc476cd79a.js" crossorigin="anonymous"></script>
</body>

</html>
